{% extends 'layout.html' %}
{% block content %}
<!--
    <h1>Видео</h1>
    <form action="video-loading-processing/" method="post" enctype="multipart/form-data">
        <input type="email" name="email">
        <input type="file" name="file">
      <input type="submit" data-method="post" value="Загрузить и распознать">
    </form>
-->
  <h2>Видео на обработку</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Загрузить</button>
  </form>

{% endblock %}