{% extends 'layout.html' %}
{% block content %}
<!-- Для кнопок просмотра и удаления файлов-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.view {
    color: #27C46B;
}

table.table td a.delete {
    color: #E34724;
}
table.table td a.disable {
    color: gray;
}

table.table td i {
    font-size: 19px;
}
</style>
<div class="container">
    <div class="panel-heading">
        <h2 class="h4">Видео файлы на сервере.</h2>
    </div>

    <div class="col-xs-8 col-xs-offset-2 well">
        <table class="table table-scroll table-striped" style="width:100%; border:2;">
            <thead class="thead-dark">
                <tr>
                    <th class="col-xs-2">ИД</th>
                    <th class="col-xs-2" >email</th>
                    <th class="col-xs-2" >url</th>
                    <th class="col-xs-2" >Действия</th>
                </tr>
            </thead>
            <tbody id="table-body" style="height: 10px !important; overflow: scroll; ">
            </tbody>
        </table>
    </div>
</div>
    <script>
        fetch('video_processing_list/')
          .then(response => response.json())
          .then(data => {
            const tableBody = document.getElementById('table-body');
            console.log(data)
            data.forEach(item => {
              const row = document.createElement('tr');

              const idCell = document.createElement('td');
              const emailCell = document.createElement('td');
              const url_detailCell = document.createElement('td');
              const action_Cell = document.createElement('td');

              idCell.textContent = item.id;
              emailCell.textContent = item.email;
              url_detailCell.textContent = item.url_detail;

              var view_link = document.createElement("a");
              view_link.classList.add("view");  // Add the "delete" class to the link
              view_link.title = "Открыть";  // Set the title attribute
              view_link.dataset.toggle = "tooltip";  // Set the data-toggle attribute
              view_link.href = "video_info/" + item.id;

              var view_icon = document.createElement("i");
              view_icon.classList.add("material-icons");
              view_icon.innerHTML = "&#xe89e;";  // Set the icon content


              view_link.appendChild(view_icon);

              function view_file(event){
                //console.log("View clicked: " + item.id);

                fetch('get_video_processing_info/'+item.id+'/', {
                    method: 'GET'
                })
                .then(response => response.json())
                .then(data => {
                    //result.innerText = JSON.stringify(data);
                    console.log(JSON.stringify(data));
                })
                .catch(error => {
                    console.error(error)
                });
              }
              // По нажатию запрос на просмотр файла
              //view_link.addEventListener("click", view_file);

              var del_link = document.createElement("a");
              del_link.classList.add("delete");  // Add the "delete" class to the link
              del_link.title = "Удалить";  // Set the title attribute
              del_link.dataset.toggle = "tooltip";  // Set the data-toggle attribute

              var del_icon = document.createElement("i");
              del_icon.classList.add("material-icons");
              del_icon.innerHTML = "&#xE872;";  // Set the icon content

              del_link.appendChild(del_icon);

              function delete_video(event){
                //console.log("Delete clicked: " + item.id);

                fetch('video_processing_delete/'+item.id+'/', {
                    method: 'DELETE'
                })
                .then(response => {
                    console.log(response);
                    //response.json()
                    //console.error(response);
                })
                .then(data => {
                    //result.innerText = JSON.stringify(data);
                    //console.error(data);

                    idCell.style.textDecoration = "line-through";
                    emailCell.style.textDecoration = "line-through";
                    url_detailCell.style.textDecoration = "line-through";

                    del_link.removeEventListener("click", delete_video);
                    view_link.removeEventListener("click", view_file);
                    //view_link.removeEventListener("click", view_file);
                    view_link.removeAttribute('href');

                    del_link.classList.remove("delete");
                    del_link.classList.add("disable");

                    view_link.classList.remove("view");
                    view_link.classList.add("disable");
                })
                .catch(error => {
                    console.error(error)
                    //result.innerText = error;
                });
              }
              // По нажатию запрос на удаление

              del_link.addEventListener("click", delete_video);

              action_Cell.appendChild(view_link);
              action_Cell.appendChild(del_link);

              row.appendChild(idCell);
              row.appendChild(emailCell);
              row.appendChild(url_detailCell);
              row.appendChild(action_Cell);

              tableBody.appendChild(row);
            });
          });
    </script>
{% endblock %}